proj.pro.user
*.vcxproj.user

/src/xi-qt.vcxproj
/src/xi-qt.vcxproj.filters
/src/src.vcxproj
/src/src.vcxproj.filters
/src/src.vcxproj.user
/src/src.sln
/src/xi-qt_resource.rc

/src/debug
/src/GeneratedFiles
/src/release
/src/x64
/packages
/src/packages
.qmake.stash
/.vs
/.vs
xi-qt.sln
*.ipch
*.VC.db
*.VC.opendb
src/packages.config
xi-qt.pro.user
